.component {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .marketstate_Outer {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgb(211, 217, 228);
      line-height: 1.667rem;
      font-size: 1rem;
      font-weight: 300;
  }
  .marketstate_Row {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-box-align: center;
  }
  .marketstate_Item {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0px;
  }
  .marketstate_Label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #8592a6;
  }
  .marketstate_Value {
      display: flex;
      color: #39414d;
  }
  .PopOver_PopOverWrapper {
      position: relative;
      top: -0.08em;
  }
  .Clickable {
      display: block;
      width: 100%;
      transition-property: all;
      transition-duration: 0.1s;
      transition-timing-function: ease;
      transition-delay: 0s;
      outline-color: initial;
      outline-style: none;
      outline-width: initial;
      border: none;
      cursor: pointer;
      border-radius: 2px;
      color: inherit;
      font: inherit;
      position: relative;
      padding: 0px;
      text-align: center;
      background: transparent;


  }
  .BuySellToggle_Outer {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #d3d9e4;
      padding: 1rem;
  }
  .BuySellToggle_Background {
      width: 100%;
      border: none;
      box-shadow: none;
      margin: 0px;
      height: 2.22rem;
      border-radius: 1.11rem;
      background: #d3d9e4;
      cursor: pointer;
      padding: 0px;
  }
  .BuySellToggle_Slider {
      position: relative;
      height: 100%;
      font-size: 1rem;
      font-weight: 300;
      font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
      color: white;
  }
  .Toggle_Buy::after {
    content: 'Sell';
    background: #e65668;
    transform: translateX(0);
    
    transition-property: transform, opacity;
    transition-duration: 0.3s, 0.1s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0.1s;

    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    border-radius: 1.11rem;
    height: 100%;
    width: 75%;
    right: auto;
    opacity: 0
  }
  .Toggle_Buy::before {
    content: 'Buy';
    background: #4ed27c;
    transform: translateX(0);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: transform;
    
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    border-radius: 1.11rem;
    height: 100%;
    width: 75%;
    opacity: 1;
  }

  .Toggle_Sell::after {
    content: 'Sell';
    background: #e65668;
    transform: translateX(33.3%);
    
    transition-property: transform, opacity;
    transition-duration: 0.3s, 0.1s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0.1s;

    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    border-radius: 1.11rem;
    height: 100%;
    width: 75%;
    right: auto;
    opacity: 1;
  }
  .Toggle_Sell::before {
    content: 'Buy';
    background: #4ed27c;
    transform: translateX(33.3%);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: transform;
    
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    border-radius: 1.11rem;
    height: 100%;
    width: 75%;
    opacity: 0;
  }
  .Bottom_Border > * {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #d3d9e4;
  }
  .Form_Row1 {
      position: relative;
      width: 100%;

      > button {
          width: 100%;
      }
  }
  .Form_Row2 {
      display: flex;
      -webkit-box-align: baseline;
      align-items: center;
      font-size: 1rem;
      padding-top: 0.65rem;
      padding-bottom: 0.65rem;
      padding-left: 1rem;
      padding-right: 1rem;
      height: 3rem;

  }
  .Form_Button {
      display: block;
      transition-property: all;
      transition-duration: 0.1s;
      transition-timing-function: ease;
      transition-delay: 0s;

      outline: none;
      border: none;
      cursor: pointer;
      border-radius: 2px;
      color: inherit;
      font: inherit;
      position: relative;
      padding: 0;
      text-align: center;
      background: transparent;
  }
  .Form_Span {
      font-size: 1rem;
      padding-top: 0.65rem;
      padding-bottom: 0.65rem;
      padding-left: 1rem;
      padding-right: 1rem;
      height: 3rem;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
  }
  .Form_CategoryItem {
      line-height: 1.65rem;
      color: #8592a6;
      text-align: left;
      white-space: nowrap;
      margin-right: 1rem;
      
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 7.5rem;
  }
  .Form_ValueItem {
      line-height: 1.65rem;
      color: #39414d;
      margin-left: auto;
  }
  .Form_TypeItem {
      display: flex;
      -webkit-box-pack: end;
      justify-content: flex-end;
      margin-left: 1rem;
      width: 3.5rem;
  }
  .Form_TypeItem2 {
      margin-left: 1rem;
      line-height: 1.65rem;
      text-align: right;
      color: #8592a6;
      font-size: 1rem;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 3.5rem;
  }
  .Toggle_Container {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      border-radius: 1rem;
      cursor: pointer;
      min-height: 1.2rem;
      max-height: 1.2rem;
      min-width: 36px;
      user-select: none;
      transition-property: all;
      transition-duration: 0.15s;
      transition-timing-function: ease;
      transition-delay: 0s;
      margin-right: 0.65rem;

  }
  
  .Toggle_Container_Background_Off {
      background: #8592a6;
  }

  .Toggle_Container_Background_On {
      background: #6878ff;
}

  .Toggle_Circle_Off {
      background: #ffffff;
      border-radius: 0.5rem;
      height: 15px;
      width: 15px;
      transition-property: all;
      transition-duration: 0.15s;
      transition-timing-function: ease;
      transition-delay: 0s;
      
      transform: translateX(2px);
  }

  .Toggle_Circle_On {
    background: #ffffff;
    border-radius: 0.5rem;
    height: 15px;
    width: 15px;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: 0s;
    
    transform: translateX(18px);
}

.Signinup_Container {
    padding: 1rem;
    margin-bottom: 4rem;
}
.CreateAccount {
    display: inline-block;
    cursor: pointer;
    font: inherit;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.35rem;
    text-align: center;
    text-decoration: none;
    padding: 0.65rem 1.3rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease;
    color: white;
    background-color: #6878ff;
    width: 100%;
}
.Sign_In {
    padding-top: 1rem;
    color: #8592a6;
    text-align: center;
    font-size: 1rem;

    > a {
        display: inline-block;
        color: inherit;
    }
}