Package: luxtre
Version: 5.1.0
License: MIT
Architecture: amd64
Vendor: giaki3003@luxcore.io
Maintainer: giaki3003
Section: default
Priority: extra
Homepage: luxcore.io
Description: LUXtre (a take on the latin word, Lustre, meaning – to brighten)
