.component {
  overflow: visible;
  position: absolute;
  right: 30px;
  text-align: right;
  &:hover {
    .info {
      opacity: 1;
    }
  }
  &.mainnet {
    right: 50px;
    .icon {
      height: 31px;
      width: 31px;
    }
  }
}

.icon {
  height: 20px;
  width: 24px;
  cursor: pointer;
}

.syncing {
  .icon :global {
    animation: loading-spin 1.5s linear;
    animation-iteration-count: infinite;
  }
}

.synced {}

.info {
  opacity: 0;
  transition: opacity, 200ms;
  white-space: nowrap;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  text-align: right;
  font-family: var(--font-light);
  font-size: 14px;
  background-color: var(--theme-node-sync-info-message-background-color);
  padding: 10px;
  border-radius: 4px;
  color: var(--theme-node-sync-info-message-text-color);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.menu {
  margin-top: 10px;
  width: 120px;
  //padding: 10px 10px;
  text-align: left;
  border: var(--theme-dropdown-menu-item-border);
  background-color: var(--theme-dropdown-menu-item-background-color);
}

.menuItem {
  padding: 10px 12px;
  background-color: var(--theme-dropdown-menu-item-background-color);
  &:hover {
    background-color: var(--theme-dropdown-menu-item-background-color-hover);
  }
}

.hideMenu {
  display: none;
}
